<%=  simple_form_for  @movie, url: movies_path  do  |f|  %>
  <div class="form-group">
    <%=  f.input :title, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :description, input_html: { class: "form-control" }, as: :ckeditor %>
  </div>

  <div class="form-group">
    <%=  f.input :movie_length, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :director, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :rating, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :image, as: :file  %>
  </div>
  <div class="form-group">
    <%= f.input  :is_hidden  %>
  </div>
    <%=  f.button  :submit,  class: "btn  btn-primary" %>
<% end  %>
