<div  class="row">
  <div  class="col-md-4">
    <h3><%=  @movie.title  %></h3>
    <p>
      <%  if  @movie.image.present?  %>
        <%=  image_tag  @movie.image.url(:medium) %>
      <%  else  %>
        <%=  image_tag  @movie.image.default_url(:"/images/:style/missing.png" )  %>
      <%  end  %>
    </p>
  </div>

  <div  class="col-md-6">
    <strong>片长：</strong>
    <%=  @movie.movie_length  %>
    <br>
    <strong>导演：</strong>
    <%=  @movie.director %>
    <br>
    <strong>电影评分：</strong>
    <%= @movie.rating %><br>
    <div class="star-rating"  data-score= <%= @avg_review %> ></div>
    <em><%=  "#{@reviews.length}人评价" %></em>
  </div>

</div>

<br>
<div  class="col-md-9">
  剧情简介：
      <p><%= render_movie_description(@movie)  %></p>

      <!--－－ 新增评论 －－-->
      <hr>
      <%= simple_form_for  [@movie, @movie.reviews.build]  do  |f|  %>
        评价：<div id="star-rating"></div>
        <%=  f.input  :content,  class: "form-control"  %>
        <%=  f.button  :submit,  disable_with: "Submiting...", class: "btn  btn-primary"  %>
      <% end  %>

      <!--－－评论展示区----->
      <hr>
      <%  if   @reviews.blank? %>
      <h3>还没有人评论，抢个沙发吧！</h3>
      <%=  link_to("Write  review", new_movie_review_path(@movie), class: "btn btn-primary") %>
      <%  else  %>
        <%  @reviews.each  do |review|  %>
          <%=  review.user.email  %>
        <div class="star-rating"  data-score= <%= review.rating %> ></div>
          <%=  review.created_at.strftime("%Y/%m/%d, %I:%M  %P")  %><br>
          <%=  review.content  %>
          <hr>
        <%  end  %>
      <%  end  %>
  <% if  current_user  &&  current_user.is_member_of?(@movie) %>
    <%=  link_to("取消收藏", quit_movie_path(@movie), method: :post, class: "btn  btn-default")%>
  <% else %>
    <%=  link_to("添加收藏", join_movie_path(@movie), method: :post, class: "btn  btn-default")%>
  <%  end  %>
  <%= link_to("back", movies_path)  %>
</div>

<!---reviews index(list)---->
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<!---reviews  new(form) ---->
<script>
    $('#star-rating').raty({
      path: '/assets/',
      scoreName: 'review[rating]' });
</script>
