<%  if  @movie.errors.any?  %>
  <ul>
    <%  @movie.errors.full_messages.each  do  |error|  %>
      <li><%=  error  %></li>
    <%  end  %>
  </ul>
<%  end  %>


  <div class="form-group">
    <%=  f.input :title, input_html: { class: "form-control" }, :autofocus  =>  true %>
  </div>

  <div class="form-group">
    <%=  f.input :description, input_html: { class: "form-control" }, as: :ckeditor  %>
  </div>

  <div class="form-group">
    <%=  f.input :movie_length, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :director, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%=  f.input :rating, input_html: { class: "form-control" }  %>
  </div>

  <div  class="form-group">
    <%=  f.input  :image, as: :file  %>
  </div>

  <div class="form-group">
    <%= f.input  :is_hidden  %>
  </div>

  <%=  f.nested_fields_for  :tickets  do  |ff|  %>
    <fieldset  style=" border-left:  5px  solid  #bbb;  margin-bottom:  10px;  padding: 10px;">
      <legend>Ticket</legend>
      <div class="form-group">
        <%=  ff.label  :name  %>
        <%=  ff.text_field  :name,  :class  =>  "form-control", :required  =>  true  %>

        <div class="help-block  with-errors"></div>
      </div>

      <div class="form-group">
        <%=  ff.label  :description  %>
        <%=  ff.text_area  :description,  :class  =>  "form-control"  %>

        <div class="help-block  with-errors"></div>
      </div>

      <div class="form-group">
        <%=  ff.label  :price  %>
        <%=  ff.number_field  :price,  :class  =>  "form-control", :required  =>  true  %>

        <div class="help-block  with-errors"></div>
      </div>
    </fieldset>
    <%=  ff.remove_nested_fields_link  "移除这个票据",  :class  =>  "btn  btn-danger"  %>
  <%  end %>

  <p  class="text-right">
    <%=  f.add_nested_fields_link  :tickets, "新增票据",  :class  =>  "btn  btn-default"  %>
  </p>
  
  <script>
    $("form").validator();
  </script>
