<div  class="col-md-6  col-md-offset-3">
  <%=  link_to("New  movie", new_admin_movie_path, class: "btn  btn-primary")%>
</div>
<div  class="col-md-6">
  <%  @movies.each  do  |movie| %>
    <%=  link_to   admin_movie_path(movie)  do %>
       <%= image_tag  movie.image.url(:thumb)  %>
    <%  end %>

    <p> <%=  link_to  movie.title, admin_movie_path(movie) %></p>
    <%=  link_to("buy", "#", class: "btn   btn-primary") %><br>
  <% end %>
</div>
